<div ng-controller="chatCtrl">
<header >
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Message App</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#/profile">Profile</a></li>
<!--                <li><a href="#/message">Message</a></li>-->
                 <button type="button" class="btn btn-warning" ng-click="messagepage()"> message</button>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="logout()"><a href=""><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
</div>